/* Coolors Exported Palette - coolors.co/2c3f9f-3051b5-f7f8f9-ff7905-ed5832 */

/*
// HSL
$color1: hsla(230%, 57%, 40%, 1);
$color2: hsla(225%, 58%, 45%, 1);
$color3: hsla(210%, 14%, 97%, 1);
$color4: hsla(28%, 100%, 51%, 1);
$color5: hsla(12%, 84%, 56%, 1);


// RGB
$color1: rgba(44, 63, 159, 1);
$color2: rgba(48, 81, 181, 1);
$color3: rgba(247, 248, 249, 1);
$color4: rgba(255, 121, 5, 1);
$color5: rgba(237, 88, 50, 1);
*/

$blue-dark: rgba(44, 63, 159, 1);
$blue-light: rgba(48, 81, 181, 1);
$white: rgba(247, 248, 249, 1);
$orange-light: rgba(255, 121, 5, 1);
$orange-dark: rgba(237, 88, 50, 1);
